@import 'tailwindcss';

@font-face {
	font-family: 'Inter-Display';
	src: url('/fonts/InterDisplay-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter-Display';
	src: url('/fonts/InterDisplay-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter-Display';
	src: url('/fonts/InterDisplay-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Inter-Display';
	src: url('/fonts/InterDisplay-ExtraBold.woff2') format('woff2');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/Gilroy-Semibold.woff2') format('woff2');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Gilroy';
	src: url('/fonts/Gilroy-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@theme {
	--font-gilroy: 'Gilroy', sans-serif;
	--color-custom-white: #f9f9f9;
	--color-custom-black: #101010;
	--color-gray: #d2d2d2;
	--text-title: clamp(1.125rem, 0.729rem + 1.69vw, 2.25rem);
	--text-clamp-hero: clamp(2.875rem, 1.571rem+6.518vw, 7.438rem);
	--text-clamp-header-nav: clamp(0.875rem, 0.824rem+0.196vw, 1rem);
}

@layer utilities {
	@keyframes ticker {
		0% {
			transform: translateZ(0);
		}
		to {
			transform: translate3d(-100%, 0, 0);
		}
	}

	.animate-ticker {
		animation: ticker 10s linear infinite;
	}
}
html {
	scroll-behavior: smooth;
}

body {
	font-family: 'Inter-Display';
	font-weight: 500;
	@apply bg-custom-white;
}
.container {
	max-width: 1500px;
	padding: 0 30px;
	margin: 0 auto;
}
.wrapper {
	min-height: 100dvh;
	display: flex;
	flex-direction: column;
}
main {
	flex-grow: 1;
}

@media (max-width: 768px) {
	.container {
		max-width: 1500px;
		padding: 0 10px;
		margin: 0 auto;
	}
}
.embla__button {
	-webkit-tap-highlight-color: rgba(var(--text-high-contrast-rgb-value), 0.5);
	-webkit-appearance: none;
	appearance: none;
	background-color: transparent;
	touch-action: manipulation;
	display: inline-flex;
	text-decoration: none;
	cursor: pointer;
	border: 0;
	padding: 0;
	margin: 0;
	box-shadow: inset 0 0 0 0.2rem var(--detail-medium-contrast);
	width: 3.6rem;
	height: 3.6rem;
	z-index: 1;
	border-radius: 50%;
	color: var(--text-body);
	display: flex;
	align-items: center;
	justify-content: center;
}
